worker_processes  1;

events {
	worker_connections 1024;
}

http {
	server {
		server_name {{.Hostname}};
		listen {{.Port}};

		location / {
            root /etc/nginx;
			index index.html;
		}
	}
}
